<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title OTRC
    body
    header
            table(style='width:100%')
                col(style='width:10%')
                col(style='width:10%')
                col(style='width:10%')
                col(style='width:60%')
                col(style='width:10%')
                tr
                    th 
                        a(href='/') HOME
                    th
                        a(href='/results') RESULTS
                    th
                        a(href='/events') UPCOMING EVENTS
                    th
                        a(href='/profile') MY PROFILE
                    th
                        a(href='/admin') ADMINISTRATION
                    th
                        a(href='/login') LOGIN
    h1 Ozark Trail Running CLub Events
    block content
